</main>



<footer class="fixed-bottom bg-body-tertiary flex-wrap py-3 border-top">
    <div class="row">
        <div class="col text-secondary text-center px-5">
            Copyright ©<%= new Date().getFullYear(); %> - <a href="https://github.com/Tomb-2501/personal-website">
                    created
                    with Express & EJS</a>
        </div>
    </div>
</footer>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- <script src="/index.js" chatset="utf-8"></script> -->
</body>