body {
  background-color: #eeeeee;
  /* background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png"); */
  background-image: url("./images/rocky-wall.png");
}

a:hover {
  color: red;
}
